* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

body {
    margin: 5vh 5vw;
    width: 90vw;
    min-width: 260px;
    height: 90vh;
    min-height: 595px;
    transition: 0.5s;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
html {
    width: 100vw;
    min-width: 275px;
    height: 100vh;
    min-height: 630px;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 700px;
    background: url("https://d3kxs6kpbh59hp.cloudfront.net/community/COMMUNITY/f0b0f777ef914f12be1f5e34fd109849/9413663435e1440496652e1bbe0a6253_1607594997.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
html::-webkit-scrollbar {
    display: none;
}

#app {
    width: 100%;
    height: 100%;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 150, 0);
    border-radius: 5px;
    padding: 3px;

    min-width: 245px;
    width: 80vw;
    max-width: 450px;
    height: 60px;
    font-size: 1.5rem;
}
input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgb(255, 80, 0);
}
.selectBox {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 150, 0);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 50px;
    min-width: 245px;
    width: 80vw;
    max-width: 450px;
    height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
}
.selectBox:hover {
    border: 2px solid rgb(255, 80, 0);
}
.select-option-wrapper {
    box-sizing: border-box;
    position: absolute;
    min-width: 245px;
    width: 80vw;
    max-width: 450px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgb(255, 150, 0);
}
.select-option {
    box-sizing: border-box;
    padding:2px;
    height: 50px;
    font-size: 1.2rem;
    line-height: 50px;
    transition: 0.2s;
    border-bottom: 1px solid rgba(255, 80, 0, 0.3);
}
.select-option:hover {
    font-weight: 800;
    font-size: 1.3rem;
    background-color: rgba(255, 80, 0, 0.3);
}


button {
    width: 90%;
    height: 50px;
    margin: 0 5%;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgba(255, 80, 0, 0.95);
    color:rgba(255, 80, 0, 0.95);
    border-radius: 5px;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 80, 0, 0.95);
    color:rgba(255, 255, 255, 0.95);
    transition: all 0.5s;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background-color: rgb(250, 250, 250); */
    border-radius: 3px;
    border: 5px solid rgb(255, 80, 0);
}
.content-wrapper {
    width: fit-content;
    height: fit-content;
}
.content-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.header-text {
    width: 100%;
    color: rgb(255, 80, 0);
}

.input-label {
    font-weight: 800;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(255, 80, 0), 0 1px rgb(255, 80, 0), 1px 0 rgb(255, 80, 0), 0 -1px rgb(255, 80, 0);
}

