@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.7);
}
.modal-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    perspective: 700px;
    transform-style: preserve-3d;
}
.modal-wrapper {
    box-sizing: border-box;
    width: 90%;
    max-width: 800px;
    max-height: 60vh;
    overflow-y: scroll;
    background-color: rgb(255, 230, 220);
    border: 5px solid rgb(255, 150, 0);
    border-radius: 10px;
}
.modal-wrapper::-webkit-scrollbar {
    display: none;
}
.button-close-modal {
    margin: 1vh 5%;
    width: 90%;
    height: 50px;
    font-weight: 800;
    font-size: 1.5rem;
    background-color: white;
    border: 3px solid rgb(255, 80, 0);
    border-radius: 5px;
    cursor: pointer;
}
.button-close-modal:hover {
  background-color: rgb(255, 80, 0);
  color: white;
  transition: all 0.2s;
}

.coupon-tab {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.coupon-column {
    white-space:nowrap;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 35px;
    border-bottom: 1px solid rgb(255, 80, 0);
}
.coupon-head{
    height: 40px;
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 2px solid rgb(255, 80, 0);
    border-top: 2px solid rgb(255, 80, 0);
}
.modal-content-wrapper {
    max-height:15vh;
    overflow-y: scroll;
}
.modal-content-wrapper::-webkit-scrollbar{
    display: none;
}
@keyframes blink {
    0% { color: rgb(255, 0, 0)}
    20% { color: rgb(255, 255, 0)}
    40% { color: rgb(0, 255, 0)}
    60% { color: rgb(0, 255, 255)}
    80% { color: rgb(0, 0, 255)}
    100% { color: rgb(255, 0, 255)}
}
.coupon-content .coupon-copy {
    cursor: pointer;
    font-weight: 800;
    animation: blink 5s alternate linear infinite;
}
.coupon-content .coupon-copy:hover {
    background-color: rgb(255, 80, 0);
}
.coupon-slpit {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-use-select: text;
    user-select: text;
}
.coupon-code {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-use-select: text;
    user-select: text;
}
.status-header h1{
    margin: 10px;
    word-break: keep-all;
}
.status-message {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: 800;
    word-break: keep-all;
}
.coupon-slpit {
    font-family: 'EliceDigitalBaeum_Bold';
}
.coupon-slpiter {
    margin: 0 5px;
}
@media (max-width: 320px) {
    .coupon-slpiter {
        display: none;
    }
}

.modalLeft-enter-from {
    transform: rotateY(90deg);
}
.modalLeft-enter-to {
    transform: rotateY(-1deg);
}
.modalLeft-enter-active {
    transition: all 0.2s;
}
.modalLeft-leave-to {
    opacity: 0;
}
.modalLeft-leave-active {
    transition: all 0.2s;
}


.modalRight-enter-from {
    transform: rotateY(-90deg);
}
.modalRight-enter-to {
    transform: rotateY(1deg);
}
.modalRight-enter-active {
    transition: all 0.2s;
}
.modalRight-leave-to {
    opacity: 0;
}
.modalRight-leave-active {
    transition: all 0.2s;
}